---
layout: default
---

<div class="home">
  <div class="full-hero hero-home">
    <div class="hero-content">
      <h1>DEMOCRACY STRAIGHT-UP!</h1>
      <ul class="social-list">
        <li>
          <a href="http://example.com/" class="social-link">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="http://example.com/" class="social-link">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="http://example.com/" class="social-link">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="home-callout">
    <h1 class="callout-title">Direct Legislation Merit<span>&#8209;</span>Based Delegation</h1><p></p><h5> + </h5><p>

    <div class="callout-copy">
      <p>Have you ever wondered if there were a better system of government than
        democracy?  Maybe a benevolent monarch would be the ticket. Or a strong
        dictator (who, of course, agrees with your personal politics). What say we
        abolish private property and set up a communist state controlled by the
        working class! Better yet, we could settle on one relgion, and let the leaders
        of it order us around. Yay! How about that?
</p><p>
        Wait a minute. It seems like all of those ideas have been tried out before. And they really
        didn't work that well.
</p><p>
        Turns out, there is a better system than democracy, namely, a better democracy.
        Direct Legislation combined with Merit-Based Delegation provides us with the fundamental underpinnings
        of good self-government that have, unfortunately, been missing all along.
        The Democracy Straight-Up Project has set up something called a District
        Direct Legislature in all 435 US Congressional
        Districts.  We call them DDL's for short.  The majority vote of each DDL will
        determine the vote an elected House Rep casts on the floor of the US House.
      </p>
      <p>
        We are confident that there are enough Americans out there who will embrace
        this project to get the ball rolling, build momentum, and finally achieve
        our goal--which, after all, once you read about it, might be your goal too.


      </p>
      <h3></h3>
      <p>
            </p>
    </div>
  </div>
<div class="home-callout">
  <h1 class="callout-title">EXPLORE SOME MORE</h1>
  <div class="callout-copy" style="flex-basis: 25em; line-height: auto;">
    <a href="gallery"><button class="button-29" style="height: 10vh; color: black;
      background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
      font-size: 2em; border-radius: 6px;" role="button">Press The Button!</button></a>
    </div>
    </div>
  <div class="home-section">
    <h4>Most recent post</h4>
    {% for post in site.posts limit:1 %}
      {% include post-excerpt.html %}
    {% endfor %}
  </div>

  <div class="home-section">
    <h2 style="margin-bottom: 0;">OUR STAFF</h2>

    <div class="bio-wrapper">
      <div class="bio-box">
        <!--<img src="http://placekitten.com/g/400/400">
        <h3>Michael Hartl</h3>
        <a href="http://twitter.com/mhartl" class="social-link">
          <i class="fa fa-twitter"></i>
        </a>-->
        <div class="bio-copy">
          <p>

          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="images/officially_don.jpeg">
        <h3>Don Morgan</h3>
        <a href="https://patreon.com/democracystraightup" class="social-link-other">
          <img src="images/Patreon-Logo_Black.png" width="20px"/>
        </a>
        <a href="https://patreon.com/democracystraightup" class="social-link-other">
          <img src="images/patreon_wordmark_black.png" width="5em"/>
        </a>
        <div class="bio-copy">
          <p>
            Hey, notice how my mug is the only one you are seeing?  We need more mugs!
            Read about the project, contact me, and we'll make things happen.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
